@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .heading {
    @apply text-center mb-8 text-4xl capitalize font-bold;
  }

  .wrapper {
    @apply w-[90%] max-w-[1050px] mx-auto;
  }

  .link {
    @apply w-fit text-[--color-brand-500] border-b border-transparent hover:border-[--color-brand-500] duration-500;
  }

  section {
    @apply snap-start;
  }
}

@layer base {
  :root {
    &,
    &.light {
      /* Grey */
      --color-grey-0: #fff;
      --color-grey-50: #f9fafb;
      --color-grey-100: #f3f4f6;
      --color-grey-200: #e5e7eb;
      --color-grey-300: #d1d5db;
      --color-grey-400: #9ca3af;
      --color-grey-500: #6b7280;
      --color-grey-600: #4b5563;
      --color-grey-700: #374151;
      --color-grey-800: #1f2937;
      --color-grey-900: #111827;

      --color-blue-100: #e0f2fe;
      --color-blue-700: #0369a1;
      --color-green-100: #dcfce7;
      --color-green-700: #15803d;
      --color-yellow-100: #fef9c3;
      --color-yellow-700: #a16207;
      --color-silver-100: #e5e7eb;
      --color-silver-700: #374151;
      --color-indigo-100: #e0e7ff;
      --color-indigo-700: #4338ca;

      --color-red-100: #fee2e2;
      --color-red-700: #b91c1c;
      --color-red-800: #991b1b;

      --backdrop-color: rgba(255, 255, 255, 0.1);

      --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
      --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
      --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
    }
    &.dark {
      --color-grey-0: #18212f;
      --color-grey-50: #111827;
      --color-grey-100: #1f2937;
      --color-grey-200: #374151;
      --color-grey-300: #4b5563;
      --color-grey-400: #6b7280;
      --color-grey-500: #9ca3af;
      --color-grey-600: #d1d5db;
      --color-grey-700: #e5e7eb;
      --color-grey-800: #f3f4f6;
      --color-grey-900: #f9fafb;

      --color-blue-100: #075985;
      --color-blue-700: #e0f2fe;
      --color-green-100: #166534;
      --color-green-700: #dcfce7;
      --color-yellow-100: #854d0e;
      --color-yellow-700: #fef9c3;
      --color-silver-100: #374151;
      --color-silver-700: #f3f4f6;
      --color-indigo-100: #3730a3;
      --color-indigo-700: #e0e7ff;

      --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
      --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.3);
      --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.4);
    }

    --main-clr: #6366f1;

    /* Indigo */
    --color-brand-50: #eef2ff;
    --color-brand-100: #e0e7ff;
    --color-brand-200: #c7d2fe;
    --color-brand-500: #6366f1;
    --color-brand-600: #4f46e5;
    --color-brand-700: #4338ca;
    --color-brand-800: #3730a3;
    --color-brand-900: #312e81;
  }

  html {
    scroll-padding: 56px;
    scroll-behavior: smooth;
  }
}

::view-transition-group(root) {
  animation-duration: 1s;
}

.nav-links a:hover {
  color: var(--main-clr);
}

.nav-links a.active {
  color: var(--main-clr);
  border-bottom: 1px solid var(--main-clr);
}

@media (max-width: 770px) {
  .side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-50);
    top: 0;
    width: 280px;
    height: 100vh;
    border-right: 1px solid blue;
    transition: all 1s ease;
  }

  .nav-links {
    flex-direction: column;
    flex-grow: 1;
  }

  .nav-links a {
    display: block;
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.3s;
    transition-duration: 500ms;
  }

  .nav-links a.active,
  .nav-links a.active:hover {
    background-color: var(--main-clr);
    color: #fff;
    border-bottom: none;
    margin-left: 0;
  }

  .nav-links a:hover {
    margin-left: 8px;
    background-color: var(--color-grey-100);
    color: var(--main-clr);
  }

  .nav-links a {
    display: block;
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.3s;
    transition-duration: 500ms;
  }

  .nav-links a.active,
  .nav-links a.active:hover {
    background-color: var(--main-clr);
    color: #fff;
    border-bottom: none;
    margin-left: 0;
  }

  .nav-links a:hover {
    margin-left: 8px;
    background-color: var(--color-grey-100);
    color: var(--main-clr);
  }
}

.marquee-item {
  animation: marquee-move var(--speed) linear infinite;
  animation-delay: calc(var(--single-slide-speed) * var(--position) * -1);
}

@keyframes marquee-move {
  to {
    transform: translateX(calc(-100cqw - 100%));
  }
}

@property --x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --r2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.resume {
  background: conic-gradient(
      from calc(var(--r2) - 80deg) at var(--x) 15px,
      transparent 0,
      red 20%,
      transparent 25%
    ),
    #6366f1;

  animation: rotate1 -0.64s linear 3s infinite,
    rotate2 -0.64s linear 3s infinite;
}

@keyframes rotate1 {
  0% {
    --r2: 0deg;
  }
  32% {
    --r2: 0deg;
  }

  50% {
    --r2: 180deg;
  }

  82% {
    --r2: 180deg;
  }

  100% {
    --r2: 360deg;
  }
}

@keyframes rotate2 {
  0% {
    --x: 20px;
  }
  32% {
    --x: 110px;
  }

  50% {
    --x: 110px;
  }

  82% {
    --x: 20px;
  }

  100% {
    --x: 20px;
  }
}

@starting-style {
  .hero {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.card {
  @container card (min-width: 400px) and (max-width: 560px) {
    flex-direction: row;

    .image-wrap {
      min-width: 200px;
    }
  }
}

@media (max-width: 767px) {
  .card:nth-of-type(odd) {
    animation: appearOdd linear;
    animation-timeline: view();
    animation-range: entry -50px cover 25%;
  }
  .card:nth-of-type(even) {
    animation: appearEven linear;
    animation-timeline: view();
    animation-range: entry -50px cover 25%;
  }
}

@media (min-width: 768px) {
  .card:nth-child(3n + 1) {
    animation: appearOdd linear;
    animation-timeline: view();
    animation-range: entry -50px cover 25%;
  }

  .card:nth-child(3n + 2) {
    animation: appearMiddle linear;
    animation-timeline: view();
    animation-range: entry -50px cover 25%;
  }

  .card:nth-child(3n + 3) {
    animation: appearEven linear;
    animation-timeline: view();
    animation-range: entry -50px cover 25%;
  }
}

@keyframes appearOdd {
  from {
    opacity: 0;
    transform: translateX(-100%);
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes appearEven {
  from {
    opacity: 0;
    transform: translateX(100%);
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes appearMiddle {
  from {
    opacity: 0;
    transform: translateY(100%);
    clip-path: inset(100% 0 100% 0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
  }
}
