@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .heading {
    @apply text-center mb-8 text-4xl capitalize font-bold;
  }

  .wrapper {
    @apply w-[90%] max-w-[1050px] mx-auto;
  }

  .link {
    @apply text-[--main-clr] border-b border-transparent hover:border-[--main-clr] duration-500;
  }
}

@layer base {
  :root {
    &,
    &.light {
      /* Grey */
      --color-grey-0: #fff;
      --color-grey-50: #f9fafb;
      --color-grey-100: #f3f4f6;
      --color-grey-200: #e5e7eb;
      --color-grey-300: #d1d5db;
      --color-grey-400: #9ca3af;
      --color-grey-500: #6b7280;
      --color-grey-600: #4b5563;
      --color-grey-700: #374151;
      --color-grey-800: #1f2937;
      --color-grey-900: #111827;

      --color-blue-100: #e0f2fe;
      --color-blue-700: #0369a1;
      --color-green-100: #dcfce7;
      --color-green-700: #15803d;
      --color-yellow-100: #fef9c3;
      --color-yellow-700: #a16207;
      --color-silver-100: #e5e7eb;
      --color-silver-700: #374151;
      --color-indigo-100: #e0e7ff;
      --color-indigo-700: #4338ca;

      --color-red-100: #fee2e2;
      --color-red-700: #b91c1c;
      --color-red-800: #991b1b;

      --backdrop-color: rgba(255, 255, 255, 0.1);

      --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
      --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
      --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

      --image-grayscale: 0;
      --image-opacity: 100%;
    }
    &.dark {
      --color-grey-0: #18212f;
      --color-grey-50: #111827;
      --color-grey-100: #1f2937;
      --color-grey-200: #374151;
      --color-grey-300: #4b5563;
      --color-grey-400: #6b7280;
      --color-grey-500: #9ca3af;
      --color-grey-600: #d1d5db;
      --color-grey-700: #e5e7eb;
      --color-grey-800: #f3f4f6;
      --color-grey-900: #f9fafb;

      --color-blue-100: #075985;
      --color-blue-700: #e0f2fe;
      --color-green-100: #166534;
      --color-green-700: #dcfce7;
      --color-yellow-100: #854d0e;
      --color-yellow-700: #fef9c3;
      --color-silver-100: #374151;
      --color-silver-700: #f3f4f6;
      --color-indigo-100: #3730a3;
      --color-indigo-700: #e0e7ff;

      --color-red-100: #fee2e2;
      --color-red-700: #b91c1c;
      --color-red-800: #991b1b;

      --backdrop-color: rgba(0, 0, 0, 0.3);

      --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
      --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.3);
      --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.4);

      --image-grayscale: 10%;
      --image-opacity: 90%;
    }

    --main-clr: #1d4fd7;
    /* Indigo */
    --color-brand-50: #eef2ff;
    --color-brand-100: #e0e7ff;
    --color-brand-200: #c7d2fe;
    --color-brand-500: #6366f1;
    --color-brand-600: #4f46e5;
    --color-brand-700: #4338ca;
    --color-brand-800: #3730a3;
    --color-brand-900: #312e81;

    --border-radius-tiny: 3px;
    --border-radius-sm: 5px;
    --border-radius-md: 7px;
    --border-radius-lg: 9px;
  }

  html {
    scroll-padding: 56px;
    scroll-behavior: smooth;
  }
}

.nav-links a:hover {
    color: var(--main-clr);
  }

  .nav-links a.active {
    color: var(--main-clr);
    border-bottom: 1px solid var(--main-clr);
  }

@media (max-width: 770px) {
  .side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-50);
    top: 0;
    width: 280px;
    height: 100vh;
    border-right: 1px solid blue;
    transition: all 0.4s ease;
  }

  .nav-links {
    flex-direction: column;
    flex-grow: 1;
 }
    .nav-links a {
      display: block;
      padding: 6px 12px;
      border-radius: 8px;
      transition: 0.3s;
      transition-duration: 500ms;
 }
      .nav-links a.active,
      .nav-links a.active:hover {
        background-color: var(--main-clr);
        color: #fff;
        border-bottom: none;
        margin-left: 0;
      }

      .nav-links a:hover {
        margin-left: 8px;
        background-color: var(--color-grey-100);
        color: var(--main-clr);
      }
   
 
}

.marquee {
  max-width: 90%;
  padding-block: 1.75rem;
  --speed: 20s;
  --single-slide-speed: calc(var(--speed) / var(--numItems));
  --gap: 20px;
  --width: 150px;
  --height: 50px;
  --track-width: calc((var(--width) + var(--gap)) * (var(--numItems) - 1));

  margin: auto;
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );

  .marquee-track {
    container-type: inline-size;
    display: grid;
    grid-template-columns: var(--track-width) [track] 0px [resting];
    width: max-content;
  }

  .marquee-item {
    grid-area: resting;
    animation: marquee-move var(--speed) linear infinite;
    animation-delay: calc(var(--single-slide-speed) * var(--position) * -1);
    width: var(--width);
    height: var(--height);
    position: relative;
  }
}

@keyframes marquee-move {
  to {
    transform: translateX(calc(-100cqw - 100%));
  }
}

.card-container {
  container: card / inline-size;
}

.card {
  @container card (min-width: 445px) and (max-width: 560px) {
    flex-direction: row;

    .image-wrap {
      min-width: 200px;
    }
  }
}
